{% comment %}
  普通弹出层菜单

  参数:
    - main_menu: {Object} 菜单数据

  Usage:
  {% render 'header-drawer', main_menu: main_menu %}
{% endcomment %}

<li data-menu-item data-type='popup' class='header-menu-item'>
  <button
    aria-has-popup='true'
    aria-expanded='false'
    aria-controls='submenu-{{ main_menu.handle }}'
    class='header-menu-item-button'
  >
    {{ main_menu.title }}
    <span class='svg-wrapper' aria-hidden='true'>
      {{- 'icon-chevron-down.svg' | inline_asset_content -}}
    </span>
    <span class='svg-wrapper-mo' aria-hidden='true'>
      {{- 'icon-chevron-right.svg' | inline_asset_content -}}
    </span>
  </button>
  {%- if main_menu.links != blank -%}
    <ul
      role='menu'
      id='submenu-{{ main_menu.handle }}'
      aria-label='{{ main_menu.title }} submenu'
      class='header-submenu header-submenu-list'
    >
      {%- for link_1 in main_menu.links -%}
        {%- if link_1.links != blank -%}
          {%- assign link_level = 2 -%}
        {%- endif -%}
        {{ link_level }}
        <li class='header-submenu-list-item'>
          <a
            tabindex='-1'
            role='menuitem'
            href='{{ link_1.url }}'
            class='header-submenu-list-item-link'
            {% if link_1.current %}
              aria-current='page'
            {% endif %}
          >
            {{ link_1.title }}
          </a>
        </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</li>
