{% comment %}
  Renders a standard dropdown style menu for the header.

  Usage:
  {% render 'header-dropdown-menu' %}
{% endcomment %}

<nav class="header__inline-menu" role="navigation" aria-label="Main navigation">
  <ul class="list-menu list-menu--inline" role="menubar">
    {%- for link in section.settings.menu.links -%}
      <li role="none">
        {%- if link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}">
              <summary
                role="menuitem"
                aria-haspopup="true"
                aria-expanded="false"
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
                <span class="svg-wrapper" aria-hidden="true">
                  {{- 'icon-caret.svg' | inline_asset_content -}}
                </span>
              </summary>
              <ul
                role="menu"
                tabindex="-1"
                id="HeaderMenu-MenuList-{{ forloop.index }}"
                aria-label="{{ link.title | escape }} submenu"
                class="header__submenu list-menu list-menu--disclosure color-{{ section.settings.menu_color_scheme }} gradient caption-large motion-reduce global-settings-popup"
              >
                {%- for childlink in link.links -%}
                  <li role="none">
                    {%- if childlink.links == blank -%}
                      <a
                        role="menuitem"
                        href="{{ childlink.url }}"
                        id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                        class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"
                        {% if childlink.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        {{ childlink.title | escape }}
                      </a>
                    {%- else -%}
                      <details id="Details-HeaderSubMenu-{{ link.handle }}-{{ childlink.handle }}">
                        <summary
                          role="menuitem"
                          aria-haspopup="true"
                          aria-expanded="false"
                          id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                          class="header__menu-item link link--text list-menu__item focus-inset caption-large"
                        >
                          <span>{{ childlink.title | escape }}</span>
                          <span class="svg-wrapper" aria-hidden="true">
                            {{- 'icon-caret.svg' | inline_asset_content -}}
                          </span>
                        </summary>
                        <ul
                          role="menu"
                          class="header__submenu list-menu motion-reduce"
                          aria-label="{{ childlink.title | escape }} submenu"
                          id="HeaderMenu-SubMenuList-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                        >
                          {%- for grandchildlink in childlink.links -%}
                            <li role="none">
                              <a
                                role="menuitem"
                                href="{{ grandchildlink.url }}"
                                id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"
                                {% if grandchildlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                {{ grandchildlink.title | escape }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      </details>
                    {%- endif -%}
                  </li>
                {%- endfor -%}
              </ul>
            </details>
          </header-menu>
        {%- else -%}
          <a
            role="menuitem"
            href="{{ link.url }}"
            id="HeaderMenu-{{ link.handle }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
