{% comment %}
  Renders a product media carousel. Should be used with 'media-carousel.js'

  Accepts:
  - product: {Object} Product liquid object
  - variant_images: {Array} Product images associated with a variant
  - limit: {Number} (optional) When passed, limits the number of slider items to render

  Usage:
  {% render 'product-media-carousel' %}
{% endcomment %}

{%- liquid
  assign media_count = product.media.size
  if section.settings.hide_variants and media_count > 1 and variant_images.size > 0
    assign media_count = media_count | minus: variant_images.size | plus: 1
  endif
-%}

<media-carousel
  role='region'
  aria-label='Announcement'
  id='MediaCarousel-{{ section.id }}'
>
  {% comment %}- 播报当前图片位置 -{% endcomment %}
  <div id='CarouselStatus-{{ section.id }}' class='hidden' role='status'></div>
  <carousel-component id='CarouselViewer-{{ section.id }}' class='media-slider-component'>
    <div
      class='media-slider-list'
      id='Carousel-{{ section.id }}'
    >
      {% comment %}- 如果存在变体，则将变体图片当成首图 -{% endcomment %}
      {%- if product.selected_or_first_available_variant.featured_media != null -%}
        {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
        <div
          class='product__media-slider-item'
          id='Carousel-Slide-{{ section.id }}-{{ featured_media.id }}'
          data-media-id='{{ section.id }}-{{ featured_media.id }}'
        >
          {%- assign media_position = 1 -%}
          {% comment %} TODO: 修改图片样式 & 首图预加载 {% endcomment %}
          {% comment %}
            <img
              srcset="{% if media.preview_image.width >= 493 %}{{ media.preview_image | image_url: width: 493 }} 493w,{% endif %}
                  {% if media.preview_image.width >= 600 %}{{ media.preview_image | image_url: width: 600 }} 600w,{% endif %}
                  {% if media.preview_image.width >= 713 %}{{ media.preview_image | image_url: width: 713 }} 713w,{% endif %}
                  {% if media.preview_image.width >= 823 %}{{ media.preview_image | image_url: width: 823 }} 823w,{% endif %}
                  {% if media.preview_image.width >= 990 %}{{ media.preview_image | image_url: width: 990 }} 990w,{% endif %}
                  {% if media.preview_image.width >= 1100 %}{{ media.preview_image | image_url: width: 1100 }} 1100w,{% endif %}
                  {% if media.preview_image.width >= 1206 %}{{ media.preview_image | image_url: width: 1206 }} 1206w,{% endif %}
                  {% if media.preview_image.width >= 1346 %}{{ media.preview_image | image_url: width: 1346 }} 1346w,{% endif %}
                  {% if media.preview_image.width >= 1426 %}{{ media.preview_image | image_url: width: 1426 }} 1426w,{% endif %}
                  {% if media.preview_image.width >= 1646 %}{{ media.preview_image | image_url: width: 1646 }} 1646w,{% endif %}
                  {% if media.preview_image.width >= 1946 %}{{ media.preview_image | image_url: width: 1946 }} 1946w,{% endif %}
                  {{ media.preview_image | image_url }} {{ media.preview_image.width }}w"
              src="{{ media | image_url: width: 1946 }}"
              sizes="(min-width: {{ settings.container_width }}px) {{ settings.container_width | minus: 100 | round }}px, (min-width: 990px) calc(100vw - 100px), (min-width: 750px) calc((100vw - 115px) / 2), calc(100vw - 40px)"
              {% unless index == 0 %}
              loading="lazy"
              fetchpriority="high"
              {% endunless %}
              width="1000"
              height="{{ 1000 | divided_by: media.preview_image.aspect_ratio | ceil }}"
              {% comment %}alt="{{ media.preview_image.alt | escape }}"{% endcomment %}
              alt="{{ product.title }}"
            >
          {% endcomment %}
          {% render 'product-thumbnail',
            media: featured_media,
            media_count: media_count,
            position: media_position,
            desktop_layout: section.settings.carousel_layout,
            mobile_layout: section.settings.mobile_thumbnails,
            loop: section.settings.enable_video_looping,
            modal_id: section.id,
            xr_button: true,
            media_fit: section.settings.media_fit,
            constrain_to_viewport: section.settings.constrain_to_viewport,
            lazy_load: false
          %}
        </div>
      {%- endif -%}
      {%- for media in product.media -%}
        {% comment %}- 非图片类型不展示 -{% endcomment %}
        {% if media.media_type != 'image' %}
          {% continue %}
        {% endif %}

        {% comment %}- 如果图片数量超过限制，或者图片是变体图片，则跳过 -{% endcomment %}
        {% if media_position >= limit or media_position >= 1 and variant_images contains media.src %}
          {% continue %}
        {% endif %}

        {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
          <div
            class='product__media-slider-item'
            id='Carousel-Slide-{{ section.id }}-{{ media.id }}'
            data-media-id='{{ section.id }}-{{ media.id }}'
          >
            {%- liquid
              assign media_position = media_position | default: 0 | plus: 1
              assign lazy_load = false
              if media_position > 1
                assign lazy_load = true
              endif
            -%}
            {% comment %} TODO: 修改图片样式 & 首图预加载 {% endcomment %}
            {% comment %} <img width='' height='' src='{{ media.preview_image | image_url: width: 416 }}' alt='{{ media.alt }}'> {% endcomment %}

            {% render 'product-thumbnail',
              media: media,
              media_width: 1,
              media_count: media_count,
              position: media_position,
              desktop_layout: section.settings.carousel_layout,
              mobile_layout: section.settings.mobile_thumbnails,
              loop: section.settings.enable_video_looping,
              modal_id: section.id,
              xr_button: true,
              media_fit: section.settings.media_fit,
              constrain_to_viewport: section.settings.constrain_to_viewport,
              lazy_load: lazy_load
            %}
          </div>
        {%- endunless -%}
      {%- endfor -%}
    </div>
    {% comment %}- 箭头 -{% endcomment %}
    <div class='product__media-slider-buttons' id='Carousel-Button-{{ section.id }}'>
      <button
        type='button'
        class='product__media-slider-button product__media-slider-button--prev'
        name='previous'
        aria-label='Slide left'
      >
        <span class='svg-wrapper'>
          {{- 'icon-caret.svg' | inline_asset_content -}}
        </span>
      </button>
      <button
        type='button'
        class='product__media-slider-button product__media-slider-button--next'
        name='next'
        aria-label='Slide right'
      >
        <span class='svg-wrapper'>
          {{- 'icon-caret.svg' | inline_asset_content -}}
        </span>
      </button>
    </div>
  </carousel-component>

</media-carousel>
